body {
    font-family: Calibri, sans-serif;
    background-color: #DFF0FF;
    margin: 0;
    padding: 0;
}


.container {
    width: 88%;
    margin: 32px auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 52px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    text-align: center;
    margin: 20px 0;
    margin-top: 8px;
}

.sub-title {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    margin: 24px 0;
}

label {
    font-size: 24px;
    margin-right: 4px;
}

p {
    font-size: 24px;
    margin-right: 4px;
    margin-bottom: -12px;
}

.input {
    font-size: 16px;
    padding: 3px;
    padding-left: 5px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    padding: 12px;
    margin: 8px 8px;
    margin-top: 20px;

    background-color: lightgray;
    cursor: pointer;

    border: 1px solid #000;
    border-radius: 12px;
    transition: background .2s ease-in;
}

button:hover {
    background-color: silver;
}

.smaller-text {
    font-size: 16px;
}



.separator {
    height: 260px;
    border-left: 6px solid gray;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 60px;
}

.result {
    font-size: 24px;
    font-weight: bold;
}


.inviz {
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 320px;
    /* float: inline-end; */
    width: 330px;
    /* background-color: #000; */
}


.container-for-block {
    width: 840px;
    /* width: 72%; */
    margin: auto;
    margin-top: 40px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}


.block {
    /* width: 28%; */
    width: 328px;
    height: 248px;

    border-radius: 24px;
    /* border-width: 48px; */
    background-color: lightgray;
    /* background-size: contain; */
    text-align: left;
    padding: 32px;
    /* margin: auto 40px; */
}

/* .left {
    float: left;

    * padding-right: 28px; *
} 
.right {
    float: right;
    * border-left: 3px solid gray; *
    * padding-left: 32px; *
    * margin-right: 16%; *
    * margin-left: 20px; *
    
} */

.smaller-width {
    width: 45px;
}

.small-width {
    width: 55px;
}

.medium-width {
    width: 80px;
}

.total {
    background: PaleGoldenrod;
}

/* for disabling the arrows of the number type inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* for moving the block on the right below the one on the left when the screen is below a certain width */
@media (max-width: 1300px) {
    .block {
        margin: 48px 3%;
        /* margin: auto; */
        margin-right: 20%;
    }
    /* .right, .left {
        float: none;
    } */
    .container-for-block {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
}
